<div class="container mt-5">
  <h1>Welcome <%= current_user.first_name %></h1>
  <p>You can manage all of your application settings from here</p>
  <%= link_to 'Log Out', session_url, method: 'DELETE' %>
</div>
